apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: venue-deployment
  namespace: venue-dev
spec:
  replicas: 1
  template:
    metadata:
      labels:
        application: venue
        name: venue
        version: "0.1.0"
    spec:
      containers:
      - args:
        - supervisord
        - -c
        - ./supervisord.conf
        - --nodaemon
        command:
        - /entrypoint.sh
        name: django-service
        image: volentixlabs/venueserver:IMAGE_VERSION
        ports:
        - containerPort: 8000
        - containerPort: 5555
        env:
          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: user
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: password
          - name: POSTGRES_NAME
            valueFrom:
              secretKeyRef:
                name: db-credentials
                key: dbname
          - name: POSTGRES_HOST
            value: postgres-service
          - name: VENUE_DOMAIN
            value: https://venue-dev.volentix.io
          - name: VENUE_FRONTEND
            value: https://venue-dev.volentix.io
          - name: REDIS_HOST
            valueFrom:
              secretKeyRef:
                name: redis-credentials
                key: host
          - name: REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: redis-credentials
                key: password
          - name: POSTMARK_SERVER_TOKEN
            valueFrom:
              secretKeyRef:
                name: postman-credentials
                key: token
          - name: ROLLBAR_TOKEN
            valueFrom:
              secretKeyRef:
                name: rollbar-credentials
                key: token
          - name: LOGDNA_TOKEN
            valueFrom:
              secretKeyRef:
                name: logdna-credentials
                key: token
          - name: CRAWLERA_TOKEN
            valueFrom:
              secretKeyRef:
                name: crawlera-credentials
                key: token
