---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
  namespace: venue-{{namespace}}
type: Opaque
data:
  user: dmVudWVhZG1pbg==
  password: VGgxcmRUMW0zTHVja3k=
  databasename: dmVudWVwb3N0Z3Jlc3M=
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
  namespace: venue-{{namespace}}
type: Opaque
data:
  host: cmVkaXM=
  password: NGU3YTg0ZDU=